.manual-secrets-config
qimia-ai
qimia-ai.pub
.idea/
*.tfplan
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/dev.tfbackend
infrastructure/preprod.tfbackend
infrastructure/prod.tfbackend
fedIdCreds.json